<div class="side-navigation">
  <img class="side-navigation__logo" src="assets/third-light-logo.svg"/>
  <div class="side-navigation__description">
    <div>
      <p>
        This is my attempt at the coding test for ThirdLight using the Fargo server. 
      </p>
      <p>
        I have created an image gallery and commenting system. The commenting system allows the user to choose 
        a location when making a comment and view other comments that have been made on an image in specific
        locations.
      </p>

    </div>
    <h3>By James Dawson</h3>
  </div>
  <a></a>
</div>
